.main{
    width: 100%;
    height: 280vh;
    border: solid 1px red;
}
#block-1{
    width: 100%;
    height: 27%;
    border: solid 1px blue;
    background-image: url(https://assets.nicepagecdn.com/d2cc3eaa/2260892/images/hhh.jpg);
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 50%;
}
h1 {
    font-family: 'Montserrat', sans-serif;
}
.text{
    width: 100%;
    height: 50%;
    display: flex;
}
#p1{
    width: 40%;
    font-size: 120%;
    text-align: center;
}
#block-2{
    width: 100%;
    height: 23%;
    border: solid 1px black;
}
.containers{
    width: 15%;
    border: solid 3px #f97c37;
    text-align: center;
}
#cont{
    display: flex;
    justify-content: space-evenly;

}