.main{
    width: 100%;
    height: 550vh;
    border: solid 1px red;
}
#block-1{
    width: 100%;
    height: 15%;
    border: solid 1px blue;
    background-image: url(https://assets.nicepagecdn.com/d2cc3eaa/2260892/images/hhh.jpg);
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 50%;
}
h1 {
    font-family: 'Montserrat', sans-serif;
}
.text{
    width: 100%;
    height: 30%;
    display: flex;
}
#p1{
    width: 40%;
    font-size: 120%;
    text-align: center;
}
#block-2{
    width: 100%;
    height: 13%;
}
.containers{
    width: 15%;
    border: solid 5px #f97c37;
    text-align: center;
}
.containers h1 {
    font-size: 170%;
}
#cont{
    display: flex;
    justify-content: space-evenly;

}
#block-3{
    width: 100%;
    height: 15%;
    align-items: center;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
}
.inner{
    width: 60%;
    height: 80%;
    display: flex;
    justify-content: space-around;
}   
.inner-blocks-1{
    width: 45%;
    height: 100%;
}
#inner-block-number-1{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#inner-block-number-1 p{
    font-size: 120%;
    width: 80%;
}
#inner-block-number-2{
    background-image: url(https://images01.nicepagecdn.com/c461c07a441a5d220e8feb1a/4c681054b27252e69f559aed/jhjh.jpg);
    background-size: cover;
    background-position-x: 50%;
}
#block-4{
    width: 100%;
    height: 13%;
    border: solid 1px black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.innerblock-1{
    width: 70%;
    height: 70%;
    display: flex;
}
.inner-blocks-number-2{
    width: 33.3%;
    height: 100%;
    border: solid 1px red;
}
#inner-blocks-number-2{
    background-image: url(	https://images01.nicepagecdn.com/c461c07a441a5d220e8feb1a/822293ed7be25c48819fcac2/99.jpg);
    background-size: cover;
    background-position-x: 50%;

}